.App {
  width: 100vw;
  height: 100vh;
}

.Sidebar {
  height: 100%;
  width: 230px;
  background-color: #2F4050;
}

.SidebarList {
  width: 100%;
  height: auto;
  padding: 0;
}

.SidebarList .Row {
  width: 100%;
  height: 50px;
  margin: 0px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Row #icon {
  width: 30%;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.Row #title {
  width: 70%;
}

.SidebarList .Row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}

#downIcon {
  width: 30%;
  display: grid;
  place-items: center;
  font-size: 13px;
}

